@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0%;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.4;
}

.weather {
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;
}

.weather > div {
  margin: 0.625rem;
}

.weather1 {
  font-size: 4rem;
}

.weather p {
  font-size: 2rem;
}

.weather span {
  font-size: 0.75rem;
}

.weather3 span {
  margin: 0.3rem;
}

.weather3 img {
  width: 2rem;
}

nav {
  height: 100px;
  border-radius: 100px 100px 0 0;
  padding: 1rem 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
}

nav form {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav form input,
nav form button {
  border: none;
  font-family: "Economica", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.75rem;
  margin: 0.3rem;
  outline: none;
}

nav form input {
  width: 15rem;
  background-color: white;
}

nav form button {
  width: 6rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

nav form button:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}
